In [3]:
#libraries for the project
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import math
#libraries for the project
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import math

In [7]:
#location of Data
import os
os.getcwd()

'C:\\Users\\Deeho\\OneDrive\\Desktop\\Price OPtimization\\Notebook'

In [5]:
#Data reading
file_path = "/users/Deeho/OneDrive/desktop/Price OPtimization/Jewelry_Dataset.csv"
df = pd.read_csv(file_path,header=None )
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
4,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst

In [6]:
columns =["Order datetime", "Order ID", "Purshased product ID", "quantity of Sku","Category ID", "Catergory alias", "Brand ID", "Price in USD", "User ID", "Product gender","Main Color", "Main metal", "Main gem" ]
df = pd.read_csv(file_path,header=None ,names= columns )
df.head(n=4)

,Order datetime,Order ID,Purshased product ID,quantity of Sku,Category ID,Catergory alias,Brand ID,Price in USD,User ID,Product gender,Main Color,Main metal,Main gem
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond

In [8]:
#check the colum names
print(df.columns)

Index(['Order datetime', 'Order ID', 'Purshased product ID', 'quantity of Sku',
       'Category ID', 'Catergory alias', 'Brand ID', 'Price in USD', 'User ID',
       'Product gender', 'Main Color', 'Main metal', 'Main gem'],
      dtype='object')

In [10]:
df.shape

(95911, 13)

In [12]:
#check for missing values
df.columns = df.columns.str.strip()
print(df.isnull().sum())

Order datetime              0
Order ID                    0
Purshased product ID        0
quantity of Sku             0
Category ID              5352
Catergory alias          9933
Brand ID                 4785
Price in USD             5352
User ID                  5352
Product gender          48168
Main Color               7660
Main metal               5462
Main gem                34058
dtype: int64

In [13]:
# Check for unique values-feature cardinalty
df.nunique()

Order datetime          74505
Order ID                74760
Purshased product ID     9613
quantity of Sku             1
Category ID                25
Catergory alias           218
Brand ID                 2537
Price in USD             3166
User ID                 31079
Product gender              2
Main Color                  5
Main metal                  3
Main gem                   30
dtype: int64

In [14]:
# Data description
df.describe()

,Order ID,Purshased product ID,quantity of Sku,Category ID,Brand ID,Price in USD,User ID
count,9.591100e+04,9.591100e+04,95911.0,9.055900e+04,9.112600e+04,90559.000000,9.055900e+04
mean,2.485185e+18,1.815970e+18,1.0,1.805947e+18,8.890938e+16,362.215217,1.512644e+18
std,1.934825e+17,2.136803e+17,0.0,2.083942e+16,3.559633e+17,444.155706,2.374763e+16
min,1.924719e+18,1.313551e+18,1.0,1.313678e+18,0.000000e+00,0.990000,1.313554e+18
25%,2.379723e+18,1.515966e+18,1.0,1.806829e+18,0.000000e+00,145.620000,1.515916e+18
50%,2.524276e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,258.770000,1.515916e+18
75%,2.644347e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,431.370000,1.515916e+18
max,2.719022e+18,2.541962e+18,1.0,1.806829e+18,1.550613e+18,34448.600000,1.554297e+18

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order datetime        95911 non-null  object
 1   Order ID              95911 non-null  int64
 2   Purshased product ID  95911 non-null  int64
 3   quantity of Sku       95911 non-null  int64
 4   Category ID           90559 non-null  float64
 5   Catergory alias       85978 non-null  object
 6   Brand ID              91126 non-null  float64
 7   Price in USD          90559 non-null  float64
 8   User ID               90559 non-null  float64
 9   Product gender        47743 non-null  object
 10  Main Color            88251 non-null  object
 11  Main metal            90449 non-null  object
 12  Main gem              61853 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB